body {
    background: khaki;
}

.title {
    display: flex;
    margin-left: 705px;
    margin-top: 100px;
    font-family: "Courier New";
}

textarea {
    margin-left: 350px;
    margin-right: 300px;
    margin-top: 50px;
    height: 400px;
    width: 800px;
    font-family: "Courier New";
}

.commands {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 350px;
    height: 40px;
    width: 800px;
}

.button {
    flex-flow: row;
    width: 150px;
    font-family: "Courier New";
}